<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.univpm.gruppoids.iotforemergencyandnavigation">

    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InitPositionActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ChoosePlanActivity"
            android:parentActivityName=".InitPositionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MapActivity"
            android:parentActivityName=".ChoosePlanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ListActivity"
            android:parentActivityName=".InitPositionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SelectDB"
            android:parentActivityName=".InitPositionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ModActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegistrationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GuestActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEmNoAction" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEmNoAction" />
        <activity
            android:name=".EmergencyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEmNoAction" />
        <activity
            android:name=".FinalPositionActivity"
            android:parentActivityName=".ModActivity"
            android:screenOrientation="portrait"
            android:label="@string/iot_nav"
            android:theme="@style/AppThemeNav" />
        <activity
            android:name=".NavigationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNav" />
        <activity
            android:name=".NavigationChangeActivity"
            android:parentActivityName=".NavigationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNav" />
        <activity
            android:name=".ChooseFinalPlanActivity"
            android:parentActivityName=".FinalPositionActivity"
            android:screenOrientation="portrait"
            android:label="@string/iot_nav"
            android:theme="@style/AppThemeNav" />
        <activity
            android:name=".MapFinalActivity"
            android:parentActivityName=".ChooseFinalPlanActivity"
            android:screenOrientation="portrait"
            android:label="@string/iot_nav"
            android:theme="@style/AppThemeNav" />
        <activity
            android:name=".ListFinalActivity"
            android:theme="@style/AppThemeNav"
            android:screenOrientation="portrait"
            android:label="@string/iot_nav"
            android:parentActivityName=".FinalPositionActivity"/>
    </application>

</manifest>